<div class="header">
  <div class="nav-bar">
    <div class="logo">
      <img src="../img/WhiteLogo.png" alt="LuxeLab Logo" />
    </div>
    <nav>
      <ul id="menuitems">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="featured.html">Products</a></li>
        <li><a href="upcoming_events.html">Events</a></li>
        <li><a href="inquiry.html">Contact us</a></li>
      </ul>
    </nav>
    <div class="menu-icon">
      <img src="../img/open.png" alt="Menu" class="menu" />
    </div>
  </div>
</div>
