*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
   margin-top: 90px;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/bk-1.png");
    background-position: center;
    background-size: cover;
    color: #fff;
}
.menu-icon{
   width: 50px;
   margin: 30px 10px;
   display: none;
}
.menu-icon img{
   width: 100%;
}
.header-cont{
    width: 95%;
    margin: auto;
}
 .nav-bar{
    display: flex;
    background-color: #000000e7;
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between;
 }
 .logo{
    width: 100px;
 }
.btn a:hover{
   color: #fff;
}
 nav{
   margin-left: 30px;
   float: right;
 }
 .logo img{
    width: 150%;
    margin-left: 20px;
    margin-top: 20px;
 }
 nav ul{
    display:flex;
    list-style: none;
    font-size: 18px;
 }
 a{
    color: #fff;
    text-decoration: none;
 }
 ul li{
    margin: 30px 40px;
    padding: 10px;

 }
 .active{
   padding: 10px;
   background-color: #fff;
 }
 a:hover{
   color: #000;
 }
.active, li:hover{
   background-color: #fff;
  color: #000;
   border-radius: 5px;
   padding: 10px;
   height: 40px;
}

 .header-text {
    width: 50%;
    margin-top: 80px;
    font-size: 30px;
    padding: 20px;
 }
 .btn{
    width: 120px;
    padding: 10px;
    background-color: rgb(49, 48, 48);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
 }
 .header-text h1{
    font-family: 30px;
 }
 .header-text h3{
    font-size: 20px;
 }
 .House-Name{
   color: transparent;
   -webkit-text-stroke: 1px #fff;
 font-size: 9rem;
background: url(img/text-back.jpg);
-webkit-background-clip: text;
animation: back 20s linear infinite;
background-position: 0 0;
 }


 @keyframes back{
   100% {
      background-position: 2000px 0;
   }
}

 /* feautured products */
 .article1{
    width: 100%;
    padding: 20px;
    height: 80vh;
 }
 .article2{
    width: 90%;
    margin: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 450px;
    overflow: hidden;
 }
 .line{
    width: 10%;
    height: 0;
    padding: 2px;
    background-color: #000;
    margin: auto;
    margin-top: 10px;
    border-radius:10px;
 }
 .C-product{
    text-align: center;
    margin: 30px 0px;
 }
 .row{
   display: flex;
   justify-content: space-between;
 }
 .art-left img{
    width: 100%;

 }
 .art-left{
    width: 50%;
    padding: 5px;
    padding: 10px;
 }
 .art-right{
    width: 40%;
 }
 .art-right .A-RD{
    margin-top: 100px;
    padding: 10px;
 }
 .A-RD h3{
    margin: 20px 0px;
 }
 .art{
    width: 200px;
 }

 /* other products */
 .other-products{
   background-color: black;
   width: 100%;
 padding: 20px;
 color: #fff;
 
 }
 .other-text{
   font-size: 20px;
   height: 20vh;
   padding: 25px;
 }
 .C-black{
   color: #000;
 }
 .second {
   width: 50%;
   padding-left: 0px;
   padding: 20px;
   flex-basis: 60%;
 }
 .second .price, p, hr{
   margin: 20px 0px;
 }
 .second  p{
   margin: 50px 0px;
 }
 .quantity{
   display: flex;
   justify-content: space-between;
   width: 80%;
 }
 .All{
   width: 90%;
   margin: auto;
  padding: 20px;
   background-color: #fff;
 }
 .cal{
   width: 10%;
   font-size: 20px;
 }
 #minus{
   font-size: 25px;
 }
 .quantity span {
   cursor: pointer;
   margin: 0 10px;
   user-select: none;
}
 #Soon{
   width: 100%;
   padding: 20px;
   background-color: #fff;
   text-align: center;
   border: none;
   font-size: 18px;
   color: #6b6b6b;
 }

 /* tstimonials */
 .test-div{
   width: 100%;
   background-color: #2c2b2b;
   color: #fff;
   height: 100vh;
   padding: 100px;
 }
 .col{
   max-width: 30%;
   height: 70vh;
   background-color: #fff;
   color: #0000;
 }
 .col-block{
   max-width: 90%;
   margin: 10px auto;
   display: block;
   border: 2px solid #0000;
   height: 300px;
   color: black;
 }
 .col-block .image{
   width: 100%;
   height: 280px;
   overflow: hidden;
 }
.image img{
   width: 100%;
 }

 /* Trustee */
 .Trustee{
   padding: 10px;
   width: 100%;
 }
.trust img{
   width: 100%;
}
.trust{
   width: 30%;
   border: 2px solid black;
 }
.Trustee .row{
   justify-content: space-between;
}
/* footer */
.footer{
   background-color: black;
   color: #8a8a8a;
   font-size: 14px;
   padding: 16px 0 10px;
}
.footer p{
   color: #8a8a8a;
}
.footer h3{
color: #fff;
margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
   min-width: 250px;
   margin-bottom: 20px;
}
.footer-col-2 img{
   width: 300px;
   margin-bottom: 20px;
}
.footer-col-1{
   flex-basis: 30%;
}
.container{
   max-width: 1300px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;

   padding: -20px;
}
.footer-col-2{
flex: 1;
text-align: center;
} 
.footer-col-2 img{
   width: 200px;
}
.footer-col-3, .footer-col-4{
  text-align: center;
   flex-basis: 12%;
}
.Trustees{
   width: 80%;
   margin: auto;
}
ul{
   list-style-type: none;
}
.app-logo img{
   width: 100px;
}
.copyright{
   text-align: center;
}
.footer hr{
   border: none;
   background: #b5b5b5;
   height: 1px;
   margin: 15px 0;
}
.copy-right{
   margin-bottom: 100px;
}
.last-footer{
   width: 100%;
   padding: 20px;
   display: flex;
   position: fixed;
   bottom: 0;
   background-color: #fff;
   justify-content: space-between;
   color: #000;
}
.side-footer{
   width: 100px;
   padding: 10px;
   background-color: black;
   color: #fff;
   margin-left: 50px;
}
.side-footer a{
   color: #fff;
}
.side2{
   width: 80%;
   padding-top: 20px;
}
/* feautured page */
.padd{
   margin-top: 40px;
   padding: 20px;
   background-color: #fff;
   color: #000;
}
.col-5{
   width: 60%;
   height: 300px;
   border: 1px solid black;
}
.col-6{
   width: 39%;
   height: 300px;
   border: 1px solid black;
}
.merg{
   margin-top: 10px;
}
.ft-pad{
   color: #000;
   padding-top: 40px;
   margin-top: 80px;
}
.inner-art{
   width: 70%;
   margin: auto;
   text-align: center;
   margin-top: 30px;
   padding: 20px;
   color: #fff;
   transition: background 1s;
}
.inner-art:hover{
 background-color: #000000af;
 border-radius: 10px;
}
.ft1{
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/ft-1.png);
   background-position: center;
   background-size: cover;
   transition: background 1s;
}
.ft1:hover{
   background-image: url(img/ft-1.png);
   background-position: center;
   background-size: cover;
   color: #000;
}
.ft2{
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(img/ft-2.png);
   background-position: center;
   background-size: cover;
}
.ft2:hover{
   background-image:url(img/ft-2.png);
   background-position: center;
   background-size: cover;
}
.ft3{
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(img/ft-3.png);
   background-position: center;
   background-size: cover;
}
.ft3:hover{
   background-image: url(img/ft-3.png);
   background-position: center;
   background-size: cover;
}
.ft4{
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(img/ft-4.png);
   background-position: center;
   background-size: cover;
}
.ft4:hover{
   background-image: url(img/ft-4.png);
   background-position: center;
   background-size: cover;
}




/* .inquiry page */
.BB{
   background-color: #000000f1;
   color: #fff;
  text-align: center;
  padding: 10px;
  height: 490px;

}
.DD{
   border: 1px solid black;
   height: 300px;
   margin-bottom: 180px;
   padding: 20px;
   background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url(img/WhiteLogo.png);
   background-position: center;

   color: #fff;
}

.BB .text{
   width: 80%;
   margin: auto;

}
button{
   border-radius: 10px;
}
button:hover{
   cursor: pointer;
   background-color: #6b6b6b;
   color: #fff;
   font-weight: 40;
}

.contact{
   width: 600px;
   height: 80px;
   text-align: center;
}
.phone{
   width: 100%;
   height:100px;
   display: block;
}
.contact .phone img{
width: 50px;
height: 50px;
border-radius: 30%;
margin-right: 30px;
}
.contact .phone span{
   margin: 20px auto;
   font-size: 15px;
}



form{

padding: 20px;
}
#full{
   height: 50px;
   width: 100%;
   margin: 10px auto;
   font-size: 15px;
}
#check{
   width: 49%;
   height: 50px;
   margin: 10px auto;
   font-size: 15px;
}
input, textarea{
outline: none;
cursor: pointer;

}